<!-- 註冊的Modal,一定要include到需要的頁面才可以使用！ -->
<div class="registerModal modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content border border-3 border-primary rounded-0">
      <div class="modal-header border-0 border-bottom border-primary border-3 py-3 position-relative">
        <h2 class="modal-title w-100 text-center" id="exampleModalLabel">立刻成為7TAO會員</h2>
        <button type="button" class="btn-close end-0 position-absolute me-12 me-md-4" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column align-items-stretch py-32 py-md-5">
        <div class="notoSans text-center">
          <p class="mb-0">立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。</p>
          <p class="mb-0">您也可以先報名活動，日後再註冊帳號，</p>
          <p class="mb-0">系統會在認證您的Email後，協助您找回舊的訂單。</p>
        </div>
        <div class="btn rounded-0 m-auto fw-bold notoSans py-2 px-32 mt-32 mt-md-4">立即成為會員</div>
      </div>
    </div>
  </div>
</div>