.index__banner {
  .carousel-caption--date {
    top: 16px;
    left: 40px;
    bottom: unset;

    h3 {
      font-size: 32px;
    }

    @include lg {
      top: 48px;
      left: 48;

      h3 {
        font-size: 60px;
      }
    }
  }

  .carousel-caption--content {
    left: 0px;
    right: 0px;
    bottom: 24px;

    h4 {
      font-size: 18px;
    }

    @include lg {
      h4 {
        font-size: 24px;
      }
    }
  }

  .carousel-control-prev {
    width: 40px;

    @include md {
      width: 112px;
    }
  }

  .carousel-control-next {
    width: 40px;

    @include md {
      width: 112px;
    }
  }
}

.index__filters {
  .l-square__content {
    transition: top .1s linear;
    img {
      width: 40px;
      height: 40px;
      margin-bottom: 8px;

      @include sm {
        width: 35px;
        height: 35px;
        margin-bottom: 4px;
      }

      @include md {
        width: 50px;
        height: 50px;
        margin-bottom: 8px;
      }

      @include lg {
        width: 80px;
        height: 80px;
        margin-bottom: 12px;
      }
    }

    &:hover {
      @include lg {
        top: -10px;
      }
    }
  }

  .searchMore {
    background-color: $primary;
    color: $secondary;
    font-style: 24px;

    @include lg {
      font-size: 36px;
    }
  }
}


.index__recent {
  /*.index__recent__cards .card START */
  .card-header {
    h3 {
      font-size: 32px;

      @include md {
        font-size: 40px;
      }

      @include xl{
        font-size: 48px;
      }
    }
  }

  .card-body {
    img {
      object-fit: contain;
      max-width: unset;
      width: 100%;
    }

    h4 {
      font-style: 18px;

      @include md {
        font-size: 24px;
      }
    }
  }

  .card-footer__filterTag {
    img {
      width: 20px;
      height: 20px;

      @include lg {
        width: 24px;
        height: 24px;
      }
    }

    // hover effect
    p {
      position: relative;
    }

    p::before {
      position: absolute;
      content: "";
      left: 0px;
      right: 0px;
      bottom: 0px;
      // 線條粗細
      height: 2px;
      background-color: $primary;
      transform: scaleX(0);
      transform-origin: bottom center;
      transition: .3s transform ease-in-out;
    }

    &:hover {
      p::before {
        transform: scaleX(1);
      }
    }
  }

  .card-footer__state {
    position: relative;

    .fa-solid {
      line-height: 1.5;
    }

    &:hover::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 30px;
      height: 30px;
      left: -15px;
      background-color: $secondary;
      border-radius: 50%;
      transform: translate(2px, -3px);
    }
  }

  /*.index__recent__cards .card END */
}

.index__online {
  .index__online__content {
    img {
      object-position: 0% 25%;

    }

    .wrap .btn {
      font-style: 14px;

      @include  md{
        font-size: 16px;
      }
    }

    .viewDetailsBtn {
      font-size: 16px;

      @include md {
        font-size: 20px;
      }

      transition: color .3s ease-in-out;

      &:hover {
        color: $secondary;
      }
    }
  }
}


.index__albumsCards {
  img {
    transition: all .3s ease-in-out;
  }

  h3 {
    transition: all .3s ease-in-out;
  }


  a:hover {
    img {
      transform: scale(1.2);
    }

    h3 {
      color: #9C9E18;
    }
  }

  .card {
    position: relative;

    h3 {
      font-size: 18px;
    }

  }

  .card--rotate--clockWise {
    transform: rotate(2deg);

  }

  .card--rotate--counterClockWise {
    transform: rotate((-2deg));
  }
}


.index__followAndSubscribe {
  .wrap{
    border: 0px solid $primary;
  }
  .wrap1{
    border-width: 2px;
    @include lg{
      border-width: 2px 1px 2px 2px;
    }
  }
  .wrap2{
    border-width: 2px;
    @include lg{
      border-width: 2px 2px 2px 1px;
    }
  }
  .card-header {
    h2 {
      font-size: 24px;

      @include lg {
        font-size: 36px;
      }
    }
  }

  /*.card-body ul.links*/
  .links__item {
    .icon {
      width: 32px;
      height: 32px;
    }
    i {
      color: #fff;
      transition: color .3s ease-in-out;
    }
    p{
      color:#000;
      transition:  color .3s ease-in-out;
    }

    &:hover {
      i {
        color: #9C9E18;
      }

      p {
        color: #9C9E18;
      }
    }
  }

  form{
    [type="email"]{
      border: 2px solid $primary;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 24px;
      &::placeholder{
        font-family: "Noto Sans TC";
      }
    }
  }
}

.index__slogan{
  h3{
    font-size: 18px;
    @include md{
      font-size: 32px;
    }
  }
  p{
    font-size: 14px;
  }
}